/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
/build/
/vendor/
/composer.phar
/web/css
/web/js
*.sublime-project
*.sublime-workspace
/web/uploads/*
/web/generated-css/*
/web/generated-js/*
/src/Front/TemplateBundle/Resources/public/dependency/*
/app/sessions
/web/media/cache