{% extends 'VictoireCoreBundle::backendLayout.html.twig' %}

{% block container_class %}{{ parent() }} victoire-bo{% endblock container_class %}

{% block header_title %}
    Liste des appartements
{% endblock header_title %}
{% block content %}

    <table class="records_list">
        <thead>
        <tr>
            <th>Titre</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rental_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% spaceless %}
            <a href="{{ path('rental_new') }}" class="btn btn-default">
                Nouvel appartement
            </a>
        {% endspaceless %}
    </div>

{% endblock content %}
